@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 5px;
}
menu{
    padding: 10px;
}
header  a{
    color: black;
    text-decoration: none;
    padding: 4px;
    border: 1px solid black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
}
main{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}
hr.horizontal{
    width: 100%;
    box-sizing: border-box;
    border-color: black;
}

table{
    width: 80vw;
    max-width: 800px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table td{
    text-align: justify;
}
.botao{
    text-align: center;
}
input[type='button']{
    padding: 4px;
    width: 70px;
    cursor: pointer;
    border-radius: 5px;
}
.Excluir{
    background-color: red;
    font-weight: bolder;
}