<!DOCTYPE html>
{% extends 'base.html' %}
    {% block style %}
        <link rel="stylesheet" href="/static/css/alterar_senha.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% endblock style %}
    {% block title %}<title>Alterar Senha</title> {% endblock title %}

    {% block page_name %} <h1>Alterar senha</h1> {% endblock page_name %}
    {% block container %}
    <main>
        <form action="alterar_senha" method="post"> {% csrf_token %}
            <label for="senha">Nova Senha: </label>
            <input type="password" name="senha" id="senha" required minlength="8">
            <span class="material-symbols-sharp" id="olho" onclick="mostrar()" style="display: inline-block;" >
                visibility
            </span> 
            <span class="material-symbols-sharp" id="olho1" onclick="mostrar()" style="display: none;" >
                visibility_off
            </span>    
            <p><input type="submit" value="Enviar"></p>

        </form>
    </main>

    <script>
        function mostrar() {
            let senha = document.querySelector('#senha')
        let olho = document.querySelector('#olho')
        let olho1 = document.querySelector('#olho1')
        senha.type = senha.type == 'text' ? 'password' : 'text'
        olho.style = senha.type == 'text' ? 'display: none' : 'display:  inline-block'
        olho1.style = senha.type == 'text' ? 'display: inline-block' : 'display: none'
        }
    </script>
    {% endblock container %}