<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    
    <title>Document</title>
</head>
<body>
        {% for user in usuarios %}
        {% if user.usuario.fluxo == 'atendimento' %}
                <a href="conversa/{{user.usuario.id}}" target="conversa" class="conversas">
                    <span class="nome"><strong>{{ user.usuario.nome }}</strong></span>
                    <span class="mensagem">
                    {{user.mensagem}}
                    </span>
                </a>
            {% endif %}
        {% endfor %}
</body>
</html>