<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock style %}

{% block container %}
<main>
    <section id="conversas">
        <iframe src="{% url 'lista_chat' %}" name='lista_chat' id="lista_chat" allow="autoplay"> </iframe>
    </section>
    <hr>
    <div id="janela_conversa">
        <iframe name="conversa" id="conversa" src="{% url 'fundo_chat' %}" allow="autoplay"></iframe>
    </div>   
</main>


{% endblock container %}