<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
{% endblock style %}

{% block container %}
<main>
    <section id="conversas">
        <h1>Conversas</h1>
        <iframe src="{% url 'chat' %}" name='chat' id="chat" height="100%"></iframe>
    </section>
    <hr>
    <div id="conversa_div">
        <iframe name="conversa" id="conversa" src="static/imagens/live-chat.jpg" ></iframe>
    </div>   
</main>


{% endblock container %}