<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/lista_chat.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <title>Document</title>
</head>
<body>
    <h2>Conversas</h2>
        {% for user in usuarios %}
            {% if user.usuario.fluxo == 'atendimento' %}
                <div id="{{user.usuario.id}}" onclick="abrir('{{user.usuario.id}}')" class="conversas">
                    <a href="conversa/{{user.usuario.id}}" target="conversa">
                        <span class="nome"><strong> {{ user.usuario.nome }} </strong></span>
                        <span class="mensagem" id="mensagem_{{user.usuario.id}}"> {{user.mensagem}} </span>
                    </a>
                </div>
            {% endif %}
        {% endfor %}

        <script src="{% static 'js/lista_chat.js' %}"></script>
</body>
</html>