<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mensagens.css' %}">
    <title>Mensagens</title>
</head>
<body onload="scroll()">
    <div id="mensagens">
        {% for mensagem in mensagens %}
            {% if mensagem.remetente == 'cliente' %}
                <div id="cliente">
                    <output class="cliente">
                        {{mensagem}} <br>
                        {{mensagem.date_created}}
                    </output>
                </div>
            {% else %}
                <div id="empresa">
                    <output class="empresa">
                        {{mensagem}} <br>
                        {{mensagem.date_created }}
                    </output>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script src="{% static 'js/mensagens.js' %}"></script>
</body>
</html>